// ================================================================================
// $ 1. SETTINGS.
// ? Global variables, config switches.
// ================================================================================


// $ Base.
// ==================================================
$base-pixel-size: 16px;
$base-font-size: 100%;
$base-line-height: 1.4;
$base-font-family: 'Quicksand', sans-serif;
$base-background-color: #FAFFFD;
$base-color: #353535;

$base-link-color: #353535;
$base-link-color-hover: #99D1B8;

$base-heading-font-family: 'Russo One', sans-serif;
$base-heading-color: #99D1B8;
$base-heading1-font-size: 46px;
$base-heading2-font-size: 36px;
$base-heading3-font-size: 28px;


// $ Colors.
// ==================================================

$background-1: #99D1B8;
$color-1: #99D1B8;

$color-white: #ffffff;