// ================================================================================
// $ 4. BASE.
// ? Unclassed HTML elements (type selectors).
// ================================================================================

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

html, body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


// $ Fonts.
// ==================================================

@include font-face('Russo One', normal, normal, '../assets/fonts/russoone-regular-webfont');
@include font-face('Quicksand', normal, 300, '../assets/fonts/quicksand-light-webfont');
@include font-face('Quicksand', normal, 400, '../assets/fonts/quicksand-regular-webfont');
@include font-face('Quicksand', normal, 700, '../assets/fonts/quicksand-bold-webfont');


// $ Links.
// ==================================================

a {
  color: $base-link-color;
  text-decoration: none;
  font-weight: 700;
}

a:hover, 
a:focus {
  color: $base-link-color-hover;
  text-decoration: none;
}


// $ Text-level semantics.
// ==================================================

h1, h2, h3 {
  font-family: $base-heading-font-family;
  color: $base-heading-color;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1 {
  @include font-size($base-heading1-font-size);
}

h2 {
  @include font-size($base-heading2-font-size);
}

h3 {
  @include font-size($base-heading3-font-size);
}

p {
  @include font-size(16px);
	text-rendering: optimizeLegibility;
  margin-top: 10px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}


// $ Embedded content.
// ==================================================

// Fluid-width media that maintain their aspect ratios.
img,
video,
audio,
embed,
object {
  max-width: 100%;
  height: auto;
  display: block;
}


// $ Forms.
// ==================================================

// Code here...


// $ Lists.
// ==================================================

ul,
ol {
  list-style-position: outside;
  list-style: none;
}


// $ Tables.
// ==================================================

table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}

