// ================================================================================
// $ 5. OBJECTS.
// ? Cosmetic-free design patterns.
// ================================================================================


// $ Row object.
// ==================================================

.o-row {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}


// $ Section title object.
// ==================================================

.o-sectionTitle {
	margin-bottom: 10px;
}


// $ Button object.
// ==================================================

.o-btn {
	display: block;
	width: 100%;
	margin: 20px 0;
	padding: 5px 10px;
	text-align: center;
	font-weight: 300;
	background: $color-1;
	color: #ffffff;
	@include custom-mq(481px) {width: 75%;}
	@include custom-mq(769px) {width: 50%;}
	@include custom-mq(961px) {width: 25%;}
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	&:focus,
	&:hover {
		font-weight: 400;
		background: #ffffff;
		box-shadow: 1px 0 0 $color-1, -1px 0 0 $color-1, 0 1px 0 $color-1, 0 -1px 0 $color-1;
	}
}