@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  min-height: 100vh;
  color: var(--default-color);
  background: #EAEAEA;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(#171c38, #101325);
  }
}
