@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  min-height: 100vh;
  font-family: 'Varela', sans-serif;
  color: var(--default-color);
  background: var(--default-background);
}
