.hello-text {
  position: relative;
  top: 25vh;
  left: 10vw;
  display: inline-block;
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: bold;
  white-space: pre;
}

.hello-text .line {
  color: #FFF;
  text-shadow: -2px -1px 25px #4A90E2, -2px -1px 15px var(--color-1);

  &.line-2 {
    padding-left: 4vw;
    text-shadow: 3px 3px 20px #50E3C2, 2px 1px 15px var(--color-1);
  }
}
