*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol,
dl,
dd,
blockquote,
hr,
table,
form,
fieldset,
figure,
address {
  margin: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.4;
}

html, body {
  font-family: "Quicksand", sans-serif;
  background-color: #FAFFFD;
  color: #353535;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@font-face {
  font-family: "Russo One";
  src: url("../assets/fonts/russoone-regular-webfont.woff") format("woff"), url("../assets/fonts/russoone-regular-webfont.ttf") format("truetype"), url("../assets/fonts/russoone-regular-webfont.svg#Russo One") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand-light-webfont.woff") format("woff"), url("../assets/fonts/quicksand-light-webfont.ttf") format("truetype"), url("../assets/fonts/quicksand-light-webfont.svg#Quicksand") format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand-regular-webfont.woff") format("woff"), url("../assets/fonts/quicksand-regular-webfont.ttf") format("truetype"), url("../assets/fonts/quicksand-regular-webfont.svg#Quicksand") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand-bold-webfont.woff") format("woff"), url("../assets/fonts/quicksand-bold-webfont.ttf") format("truetype"), url("../assets/fonts/quicksand-bold-webfont.svg#Quicksand") format("svg");
  font-style: normal;
  font-weight: 700;
}
a {
  color: #353535;
  text-decoration: none;
  font-weight: 700;
}

a:hover,
a:focus {
  color: #99D1B8;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Russo One", sans-serif;
  color: #99D1B8;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1 {
  font-size: 2.875em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p {
  font-size: 1em;
  text-rendering: optimizeLegibility;
  margin-top: 10px;
  margin-bottom: 10px;
}
p:last-child {
  margin-bottom: 0;
}

img,
video,
audio,
embed,
object {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style-position: outside;
  list-style: none;
}

table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}

.o-row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.o-sectionTitle {
  margin-bottom: 10px;
}

.o-btn {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 5px 10px;
  text-align: center;
  font-weight: 300;
  background: #99D1B8;
  color: #ffffff;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media only screen and (min-width: 30.0625em) {
  .o-btn {
    width: 75%;
  }
}
@media only screen and (min-width: 48.0625em) {
  .o-btn {
    width: 50%;
  }
}
@media only screen and (min-width: 60.0625em) {
  .o-btn {
    width: 25%;
  }
}
.o-btn:focus, .o-btn:hover {
  font-weight: 400;
  background: #ffffff;
  box-shadow: 1px 0 0 #99D1B8, -1px 0 0 #99D1B8, 0 1px 0 #99D1B8, 0 -1px 0 #99D1B8;
}

.page__container {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.page__preheader {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #EAEAEA;
}

.page__header {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  z-index: 0;
  width: 100%;
  height: 170px;
}
@media only screen and (min-width: 30.0625em) {
  .page__header {
    height: 200px;
  }
}
@media only screen and (min-width: 48.0625em) {
  .page__header {
    height: 225px;
  }
}
@media only screen and (min-width: 60.0625em) {
  .page__header {
    height: 250px;
  }
}
.page__header h1 {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
}
@media only screen and (min-width: 30.0625em) {
  .page__header h1 {
    font-size: 1.75em;
  }
}
@media only screen and (min-width: 48.0625em) {
  .page__header h1 {
    font-size: 2.25em;
  }
}
@media only screen and (min-width: 60.0625em) {
  .page__header h1 {
    font-size: 2.875em;
  }
}

.page__header--bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #99D1B8;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 50%);
}
@media only screen and (min-width: 35.5625em) {
  .page__header--bg {
    -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  }
}

.loaded .page__preheader {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  -moz-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@-moz-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.layout-switch .page__preheader {
  position: absolute;
}

.logo,
.loader {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  opacity: 0;
  pointer-events: none;
}

.logo {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 25%, 0);
  -moz-transform: translate3d(0, 25%, 0);
  -ms-transform: translate3d(0, 25%, 0);
  -o-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

.loader {
  bottom: 20%;
}

.logo__inner,
.loader__inner {
  display: block;
  margin: 0 auto;
}

.logo svg {
  min-width: 320px;
  max-width: 640px;
  width: 45%;
}

.logo .j,
.logo .r,
.logo .d,
.logo .y {
  fill: #353535;
}

.logo .o {
  fill: #99D1B8;
}

.loader svg path {
  fill: none;
  stroke-width: 10;
}

.loader--circleBg {
  stroke: #ccc;
}

.loader--circle {
  -webkit-transition: stroke-dashoffset 0.2s;
  -moz-transition: stroke-dashoffset 0.2s;
  transition: stroke-dashoffset 0.2s;
  stroke: #99D1B8;
}

.loading .logo,
.loading .loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 0.8s cubic-bezier(0.7, 0, 0.3, 1) both;
  -moz-animation: animInitialHeader 0.8s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animInitialHeader 0.8s cubic-bezier(0.7, 0, 0.3, 1) both;
}

.loading .loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    -moz-transform: translate3d(0, 800px, 0);
    -ms-transform: translate3d(0, 800px, 0);
    -o-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0);
  }
}
@-moz-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    -moz-transform: translate3d(0, 800px, 0);
    -ms-transform: translate3d(0, 800px, 0);
    -o-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0);
  }
}
@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    -moz-transform: translate3d(0, 800px, 0);
    -ms-transform: translate3d(0, 800px, 0);
    -o-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0);
  }
}
.loaded .logo,
.loaded .loader {
  opacity: 1;
}

.loaded .logo {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  -moz-animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -moz-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -ms-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -o-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
  }
}
@-moz-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -moz-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -ms-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -o-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
  }
}
@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -moz-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -ms-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    -o-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
  }
}
.loaded .loader {
  -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  -moz-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -moz-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -ms-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -o-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}
@-moz-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -moz-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -ms-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -o-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}
@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -moz-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -ms-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    -o-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}
.loaded .logo svg path {
  -webkit-transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  fill: #ffffff;
}

.social {
  height: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.social__icon {
  margin-right: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px #99D1B8;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.social__icon:after {
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #99D1B8;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
}

.social__icon:hover {
  color: #99D1B8;
}

.social__icon:hover:after {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
}

.social__link {
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.social__link:hover svg path {
  fill: #99D1B8;
}

.github__icon {
  margin-top: 2px;
}

.twitter__icon {
  margin-top: 1px;
  margin-left: 1px;
}

.linkedin__icon {
  margin-bottom: 1px;
  margin-left: 1px;
}

.page__main {
  flex: 1;
}

.loaded .page__main {
  -webkit-animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  -moz-animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

@-webkit-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
@-moz-keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
@keyframes animLoadedContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
.breadcrumb a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
}
.breadcrumb span {
  font-weight: 400;
  font-size: 16px;
}

.portfolio {
  padding-top: 100px;
}

.portfolio__header {
  text-align: right;
}

.portfolio__footer {
  text-align: center;
  font-size: 20px;
}
.portfolio__footer.on-projectsPage {
  font-style: italic;
}

.portfolio__projects {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 75em) {
  .portfolio__projects {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

.projects--vertical {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 48.0625em) {
  .projects--vertical {
    -webkit-flex-direction: row;
    flex-direction: row;
    min-width: calc((300px + 10px) * 2);
  }
}

.projects--horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.project--vertical {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 48.0625em) {
  .project--vertical {
    height: 500px;
  }
  .project--vertical:first-child {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 75em) {
  .project--vertical {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.project--horizontal {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  float: left;
}
.project--horizontal:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 75.0625em) {
  .project--horizontal {
    max-width: calc(1160px - ((300px + 10px) * 2));
  }
}

.project a {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.project a:hover {
  background: rgba(0, 0, 0, 0.25);
}
.project a:hover .project__icon {
  width: 75%;
  height: 75%;
}

.project--1 {
  background-color: #003344;
}

.project--2 {
  background-color: #3EC7F4;
}

.project--3 {
  background-color: #354D64;
}

.project--4 {
  background-color: #FF9944;
}

.project--5 {
  background-color: #F36151;
}

.project a,
.project__icon {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.loaded .project {
  -webkit-animation: animLoadedProjects 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  -moz-animation: animLoadedProjects 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  animation: animLoadedProjects 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

.loaded .project--1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loaded .project--2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loaded .project--3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loaded .project--4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loaded .project--5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes animLoadedProjects {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
@-moz-keyframes animLoadedProjects {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
@keyframes animLoadedProjects {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
.project__overview {
  padding-top: 100px;
}

.project__fullDescription {
  margin-bottom: 20px;
}
.project__fullDescription p {
  max-width: 850px;
}
.project__fullDescription time {
  font-style: italic;
}

.project__gallery {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.gallery__imgContainer {
  width: 550px;
  height: 275px;
  margin-bottom: 10px;
  overflow: hidden;
}
.gallery__imgContainer:hover {
  cursor: pointer;
}
@media only screen and (min-width: 60em) {
  .gallery__imgContainer {
    margin-right: 10px;
  }
}

.about {
  padding-top: 100px;
}

.about__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 48.0625em) {
  .about__content {
    display: block;
  }
}

.about__content p {
  font-size: 1.25em;
}
.about__content p:first-of-type {
  order: 0;
}
.about__content p:last-of-type {
  order: 2;
}

.about__myPhoto {
  background: url("../assets/img/about-myPhoto.jpg") center center;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  order: 1;
}
@media only screen and (min-width: 48.0625em) {
  .about__myPhoto {
    margin: 0;
    border-radius: 0;
    width: 350px;
    height: 250px;
    float: right;
    margin-top: 8px;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 75% 100%) margin-box;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%);
  }
}

.page__footer {
  margin-top: 100px;
  background: #99D1B8;
}

.page__footer p {
  color: #ffffff;
  text-align: center;
  padding: 4px;
  margin: 0;
}

.copyleft {
  transform: rotate(180deg);
  display: inline-block;
  padding-bottom: 1px;
}

.portfolio__projects.on-projectsPage .project--horizontal {
  max-width: 100%;
}
